* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secOneColor: #0f0f6c;
    --secOneText: hsl(0, 0%, 100%);
    --secOneButton: hsl(240, 44%, 62%);
    --bodyPad: 2.5rem;
}

html {
    /* Set font size for easy rem calculations
         * default document font size = 16px, 1rem = 16px, 100% = 16px
         * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
        */
        font-size: 62.5%;
        /* scroll-behavior: smooth; */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    margin: 1rem;
}

#sec-1 {
    background-color: var(--secOneColor) ;
    color: var(--secOneText);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 var(--bodyPad);
    position: relative;

    /* border: 1px solid white; */
}

#logo {
    overflow: hidden;
    margin: 0 var(--bodyPad);
}

#logo-img {
    width: 100%;
    height: auto;
}

.fa-bars {
    font-size: 3rem;
}

.fa-arrow-up-from-bracket {
    font-size: 3rem;
    /* border: 1px solid white; */

}

#social {
    padding: 1rem;
    cursor: pointer;
    /* border: 1px solid white; */
}

#social-links {
    width: 55%;
    height: 40%;
    background-color: var(--secOneText);
    color: var(--secOneColor);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5%;
    font-size: 1.7rem;
    padding: 2rem;
    position: absolute;
    top: 10rem;
    right: 2rem;
}

#social-links i {
    font-size: 2.7rem;
    margin-right: 1.5rem;
}

.scl-icons {
    display: flex;
    align-items: center;
}

#engineer {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 var(--bodyPad);
    text-align: center;

    /* border: 1px solid white; */
}

#engineer h1 {
    font-size: 5rem;
}

#engr-text {
    text-transform: uppercase;
    font-size: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hire-btn {
    background-color: var(--secOneButton);
    color: var(--secOneText);
    border: none;
    width: 50%;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;

}

#sec-2 {
    min-height: 100vh;
    padding: var(--bodyPad);
    color: var(--secOneColor);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

#btn-2-div {
    text-align: center;
    position: sticky;
    top: calc(100vh - 8rem); /* calculated with laptop vh
    may need to adjust for mobile*/
    /* left: 0; */
    /* margin: 0 var(--bodyPad) 0 0; */
    /* width: calc(100% - var(--bodyPad) * 2 ); */
    /* margin: auto var(--bodyPad); */
    /* border: 1px solid; */
    
}

#btn-2 {
    border: .2rem solid;
}

#sec-3 {
    height: 100vh;
    
    background-color: var(--secOneColor);
}
